.Dictionary {
  color: #a5780b;
  color: #496165;
}
.Dictionary h2 {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: bold;
}
.Dictionary section {
  background-color: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}
.Dictionary input {
  height: 64px;
  width: 100%;
  padding: 22px;
  border: 1px solid #ddd;
  font-size: 18px;
  line-height: 21px;
}
.Dictionary .form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
}
.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}

@media (max-width: 540px) {
  .Dictionary h2 {
    font-size: 24px;
  }
  .Dictionary h3 {
    font-size: 21px;
  }
  .Dictionary h4 {
    font-size: 18px;
  }
  .Dictionary section {
    padding: 16px;
  }
  .Dictionary input {
    height: 54px;
    padding: 18px;
    font-size: 15px;
  }
  .Dictionary .hint {
    font-size: 10px;
  }
}
