.Meaning h4 {
  line-height: 1.5;
  font-weight: bold;
  font-style: italic;
}

.Meaning .definition {
  font-size: 19px;
}

.Meaning .group {
  margin-left: 70px;
}

@media (max-width: 540px) {
  .Meaning .definition {
    font-size: 15px;
  }
  .Meaning .group {
    margin-left: 48px;
  }
}
