.Synonyms {
  margin: 20px 0 0;
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  opacity: 0.7;
  color: #a5780b;
}
.Synonyms span {
  font-size: 15px;
  display: inline-block;
  margin-left: 15px;
}
